In [7]:
import pandas as pd

In [8]:
archivo = "Hackaton DB Final 04.21.xlsx"
xls = pd.ExcelFile(archivo)

In [9]:
dataframes = []

for sheet_name in xls.sheet_names:
    if sheet_name == "Boundary Conditions":
        df = pd.read_excel(xls, sheet_name=sheet_name, header=[0, 1])
    else: 
        df = pd.read_excel(xls, sheet_name=sheet_name)
    dataframes.append(df)

In [10]:
sheet_names = xls.sheet_names
sheet_names

['Supply_Demand',
 'Density per Wafer',
 'Weekly Demand Ratio',
 'Wafer Plan',
 'Boundary Conditions',
 'Yield',
 'Definitions',
 'Solution and Notes']

In [11]:
id_vars = dataframes[0].columns[:2]
value_vars = dataframes[0].columns[2:] 

dataframes[0] = dataframes[0].melt(id_vars=id_vars, value_vars=value_vars,
                   var_name='Period', value_name='Value')

dataframes[0]

    Product ID                           Attribute Period         Value
0          21A                      Yielded Supply  Q2 95  0.000000e+00
1          21A                 Safety Stock Target  Q2 95  0.000000e+00
2          21A           Safety Stock Target (WOS)  Q2 95  0.000000e+00
3          21A                     EffectiveDemand  Q2 95  0.000000e+00
4          21A   Total Projected Inventory Balance  Q2 95  1.413372e+08
..         ...                                 ...    ...           ...
625        23C                 Safety Stock Target  Q4 03           NaN
626        23C           Safety Stock Target (WOS)  Q4 03  1.420000e+00
627        23C                     EffectiveDemand  Q4 03  3.669821e+09
628        23C   Total Projected Inventory Balance  Q4 03           NaN
629        23C  Inventory Balance in excess of SST  Q4 03           NaN

[630 rows x 4 columns]

In [ ]:
dataframes[4].rename(columns={df.columns[0]: ('Meta', 'Product ID'),
                           df.columns[1]: ('Meta', 'Attribute')}, inplace=True)

dataframes[4]

   Unnamed: 0_level_0   Unnamed: 1_level_0    Q3 95                    \
           Product ID            Attribute    WW_09    WW_10    WW_11
0               Total   Available Capacity  11037.0  10791.0  10265.0
1               Total   Scheduled Capacity      NaN      NaN      NaN
2               Total  Over/Under Capacity      NaN      NaN      NaN
3                 21A   Available Capacity   5155.0   5258.0   5182.0
4                 21A   Scheduled Capacity      NaN      NaN      NaN
5                 21A  Over/Under Capacity      NaN      NaN      NaN
6                 22B   Available Capacity   4000.0   4000.0   4000.0
7                 22B   Scheduled Capacity      NaN      NaN      NaN
8                 22B  Over/Under Capacity      NaN      NaN      NaN
9                 23C   Available Capacity   1882.0   1533.0   1083.0
10                23C   Scheduled Capacity      NaN      NaN      NaN
11                23C  Over/Under Capacity      NaN      NaN      NaN

                                                 ...   Q4 03                  \
      WW_12    WW_13    WW_14    WW_15    WW_16  ...   WW_26   WW_27   WW_28
0   10223.0  10181.0  11248.0  12023.0  12066.0  ...  8697.0  8617.0  8070.0
1       NaN      NaN      NaN      NaN      NaN  ...     NaN     NaN     NaN
2       NaN      NaN      NaN      NaN      NaN  ...     NaN     NaN     NaN
3    4840.0   4890.0   4830.0   4230.0   4373.0  ...  5000.0  5000.0  5000.0
4       NaN      NaN      NaN      NaN      NaN  ...     NaN     NaN     NaN
5       NaN      NaN      NaN      NaN      NaN  ...     NaN     NaN     NaN
6    4000.0   4000.0   4016.0   4316.0   4416.0  ...  2500.0  2500.0  2500.0
7       NaN      NaN      NaN      NaN      NaN  ...     NaN     NaN     NaN
8       NaN      NaN      NaN      NaN      NaN  ...     NaN     NaN     NaN
9    1383.0   1291.0   2402.0   3477.0   3277.0  ...  1197.0  1117.0   570.0
10      NaN      NaN      NaN      NaN      NaN  ...     NaN     NaN     NaN
11      NaN      NaN      NaN      NaN      NaN  ...     NaN     NaN     NaN


     WW_29   WW_30   WW_31   WW_32   WW_33   WW_34   WW_35
0   8000.0  8000.0  8000.0  8000.0  8000.0  8000.0  8000.0
1      NaN     NaN     NaN     NaN     NaN     NaN     NaN
2      NaN     NaN     NaN     NaN     NaN     NaN     NaN
3   5000.0  5000.0  5000.0  5000.0  5000.0  5000.0  5000.0
4      NaN     NaN     NaN     NaN     NaN     NaN     NaN
5      NaN     NaN     NaN     NaN     NaN     NaN     NaN
6   2500.0  2500.0  2500.0  2500.0  2500.0  2500.0  2500.0
7      NaN     NaN     NaN     NaN     NaN     NaN     NaN
8      NaN     NaN     NaN     NaN     NaN     NaN     NaN
9    500.0   500.0   500.0   500.0   500.0   500.0   500.0
10     NaN     NaN     NaN     NaN     NaN     NaN     NaN
11     NaN     NaN     NaN     NaN     NaN     NaN     NaN

[12 rows x 445 columns]

In [13]:
id_vars = dataframes[4].columns[:2]
value_vars = dataframes[4].columns[2:] 

dataframes[0] = dataframes[0].melt(id_vars=id_vars, value_vars=value_vars,
                   var_name='Period', value_name='Value')

dataframes[0]

ValueError: value_name (Value) cannot match an element in the DataFrame columns.

In [ ]:
uniquePeriods = dataframes[0]['Period'].unique()

periods = pd.DataFrame(uniquePeriods, columns=['Period'])
periods['Index'] = range(1, len(periods) + 1)

In [ ]:
with pd.ExcelWriter('DB.xlsx') as writer:
    for i, name in enumerate(sheet_names):
        dataframes[i].to_excel(writer, sheet_name=name, index=False)
    periods.to_excel(writer, sheet_name='Periods', index=False)